<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="eSender" class="com.epush.broker.sender.ESender">
        <constructor-arg name="nodeName" value="java-node@127.0.0.1"/>
    </bean>

    <bean id="pushRegister" class="com.epush.register.MongoRegister">
        <property name="template" ref="mongoTemplate"/>
    </bean>

    <bean id="mongodbMessageStore" class="com.epush.store.MongodbMessageStore">
        <property name="template" ref="mongoTemplate"/>
    </bean>
</beans>